* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 0 !important;
}

body {
  padding-right: 0 !important;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image {
  height: 100%;
  width: 100%;
}

/* #search-input{
  border:1.5px gray;
  border-radius: 15px;
  padding: 10px;
  background-color: gainsboro;
  margin-left: 10px;
}
#search-input:focus-visible{
  outline: none;
} */


.slider{
  padding: 3vw;
  padding-bottom: 0;
  margin-top: 4vh;
  width: 90%;
}

.slide{
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.design1{
  position: absolute;
  right: 2.5vw;
  top: 50vw;
}

.design2{
  position: absolute;
  top: 95vw;
  left: -8vw;
  z-index: -2;
}

.cardbtn:hover{
  filter: drop-shadow(2px 2px 2px black);
  transition: 0.1s linear;
  cursor: pointer;
}

.explore{
  position: absolute;
  top: -34.5vh;
  left: -73.6vw;
}

.page3background{
  background-image: url("/client/public/images/Images/page3bg.png");
}

.card2{
  background-Color: white;
  border: 3px solid black;
  overflow: hidden;
  border-Radius: 25px;
}

.card2btn{
  border: 3px solid black;
  text-align: center;
  padding: 0.75vw;
  margin-top: 3vw;
  border-radius: 30px;
  width: 70%;
}

.card2btn:hover{
  cursor: pointer;
  box-shadow: 0px 0px 3px  black;
}
.abc{
  background-color: #eceeed;
}

.footer{
  font-family: 'Montserrat', sans-serif;
}

.ul{
  line-height: 1.6;
}